<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dtlazy.mappers.AtletaMapper">

	<resultMap type="Atleta" id="AtletaResult">
		<id property="atlId" column="atlid" />
		<result property="name" column="name" />
		<result property="fnac" column="fnac" />
		<result property="nacionalidad" column="nacionalidad" />
	</resultMap>
	<select id="findAllAtletas" resultMap="AtletaResult">
		SELECT * FROM ATLETAS
	</select>

	<select id="findAtletaById" parameterType="int" resultType="Atleta">
		SELECT ATLID AS ATLID, NAME, FNAC, NACIONALIDAD
		FROM ATLETAS
		WHERE ATLID=#{Id}
	</select>
	<insert id="insertAtleta" parameterType="Atleta">
		INSERT INTO
		ATLETAS(ATLID,NAME,FNAC,NACIONALIDAD)
		VALUES(#{atlId},#{name},#{fnac},#{nacionalidad})
	</insert>
</mapper>